
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>
<div class="form-group">
    <label>제목</label>
    <input type="text" class="form-control" name="Title" id="title" value="@ViewBag.detailInfo.Title">
</div>

<div class="form-group">
    <label>작성자</label>
    <input type="text" class="form-control" name="Name" readonly value="@ViewBag.detailInfo.Name">
</div>

<div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" name="MainContent" id="mainContent" rows="5">@ViewBag.detailInfo.MainContent</textarea>
</div>
<button class="btn btn-primary" id="recommand">추천 : @ViewBag.detailInfo.RecommandCount</button>
<div>
    <button class="btn btn-info" id="update">수정</button>
    <button class="btn btn-danger" id="delete">삭제</button>
</div>
<hr />
<div>
    <input type="text" name="name" id="reply" />
    <button id="reply-btn">댓글 입력</button>
</div>
<hr />

<h3>댓글 목록</h3>
<div>@ViewBag.replyList.Count</div>
@for (var i = 0; i <= ViewBag.replyList.Count; i++)
{
    <div>
        @* 해당 요소를 가져오는게 아니라 3번째 인덱스를 가져오므로 수정이 필요함. *@
    </div>
}

<script>
    let recommandNumber = parseInt((document.querySelector('#recommand').innerHTML).replace(/[^0-9]/g, ''));
    let ReplyID = 1;
    document.querySelector('#reply-btn').addEventListener('click', () => {
        const param = {
            BoardNum: window.location.pathname.split('/')[3],
            ReplyID: ReplyID,
            ReplyContent: document.querySelector('#reply').value,
        };
        // 새로 추가되는 댓글은 +1
        ReplyID += 1;

        $.ajax({
            url: '/Board/Reply',
            type: 'post',
            dataType: "json",
            data: JSON.stringify(param),
            contentType: "application/json",
            success: function (data) {
                console.log(data);
            },
            error: function () {
            }
        });
    })



    document.querySelector('#update').addEventListener('click', () => {
        const param = {
            "BoardNum": window.location.pathname.split('/')[3],
            "Title": $('#title').val(),
            "MainContent": document.querySelector('#mainContent').value,
        }
        $.ajax({
            url: '/Board/Update',
            type: 'post',
            dataType: "json",
            data: JSON.stringify(param),
            contentType: "application/json",
            success: function (data) {
                alert("수정 되었습니다.");
            },
            error: function () {
            }
        });
    })

    document.querySelector('#delete').addEventListener('click', () => {
        const flag = confirm('정말 삭제하시겠습니까?');
        if (flag === true) {
            location.href = "/Board/Delete/" + window.location.pathname.split('/')[3];
        }
    })

    document.querySelector('#recommand').addEventListener('click', () => {
        recommandNumber += 1;

        document.querySelector('#recommand').innerHTML = `추천 : ${recommandNumber}`;

        const param = {
            "BoardNum": window.location.pathname.split('/')[3],
            "RecommandCount": recommandNumber,
        }

        $.ajax({
            url: '/Board/RecommandUpdate',
            type: 'post',
            dataType: "json",
            data: JSON.stringify(param),
            contentType: "application/json",
            success: function (data) {
                alert("추천 되었습니다.");
            },
            error: function () {
            }
        });
    })

</script>