
@{
    ViewBag.Title = "Detail";
    var maxReplyID = @ViewBag.MaxReplyID;
}
<div>@ViewBag.MaxReplyID</div>
<h2>Detail</h2>
<div class="form-group">
    <label>제목</label>
    <input type="text" class="form-control" name="Title" id="title" value="@ViewBag.detailInfo.Title">
</div>

<div class="form-group">
    <label>작성자</label>
    <input type="text" class="form-control" name="Name" readonly value="@ViewBag.detailInfo.Name">
</div>

<div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" name="MainContent" id="mainContent" rows="5">@ViewBag.detailInfo.MainContent</textarea>
</div>
<button class="btn btn-primary" id="recommand">추천 : @ViewBag.detailInfo.RecommandCount</button>
<div>
    <button class="btn btn-info" id="update">수정</button>
    <button class="btn btn-danger" id="delete">삭제</button>
</div>
<hr />
<div class="input-group mb-3" style="display:flex;">
    <input type="text" class="form-control" style="margin-right : 5px;" id="reply">
    <button class="btn btn-outline-secondary" id="reply-btn" type="button">댓글 입력</button>
</div>
<hr />

<h3>댓글 목록</h3>
<div id="reply-content">
    @for (var i = 0; i <= ViewBag.replyList.Count - 1; i++)
    {
        <div style="margin-bottom:15px;">
            <input type="text" class="form-control" value="@ViewBag.replyList[i].ReplyContent" readonly>
            <button>답글 달기</button>
        </div>
    }
</div>
<script>
    let recommandNumber = parseInt((document.querySelector('#recommand').innerHTML).replace(/[^0-9]/g, ''));
    function createRow(item) {
        return `
        <div style="margin-bottom:10px;">
            <input type="text" class="form-control" value=${item} readonly />
            <button>답글 달기</button>
          </div >
            `
    }
    let maxReplyID = @maxReplyID;
    document.querySelector('#reply-btn').addEventListener('click', () => {
        const param = {
            BoardNum: window.location.pathname.split('/')[3],
            ReplyID: maxReplyID + 1,
            ReplyContent: document.querySelector('#reply').value,
        };
        $.ajax({
            url: '/Board/Reply',
            type: 'post',
            dataType: "json",
            data: JSON.stringify(param),
            contentType: "application/json",
            success: function (data) {
                alert('댓글이 작성 되었습니다.')
                $('#reply-content').empty();
                data.replyList.forEach((item) => {
                    $('#reply-content').append(createRow(item.ReplyContent))
                })
                document.querySelector('#reply').value = "";
                maxReplyID += 1;
            },
            error: function () {
                alert('댓글을 입력해주세요.');
            }
        });
    })



    document.querySelector('#update').addEventListener('click', () => {
        const param = {
            "BoardNum": window.location.pathname.split('/')[3],
            "Title": $('#title').val(),
            "MainContent": document.querySelector('#mainContent').value,
        }
        $.ajax({
            url: '/Board/Update',
            type: 'post',
            dataType: "json",
            data: JSON.stringify(param),
            contentType: "application/json",
            success: function (data) {
                alert("수정 되었습니다.");
            },
            error: function () {
            }
        });
    })

    document.querySelector('#delete').addEventListener('click', () => {
        const flag = confirm('정말 삭제하시겠습니까?');
        if (flag === true) {
            location.href = "/Board/Delete/" + window.location.pathname.split('/')[3];
        }
    })

    document.querySelector('#recommand').addEventListener('click', () => {
        recommandNumber += 1;

        document.querySelector('#recommand').innerHTML = `추천 : ${recommandNumber}`;

        const param = {
            "BoardNum": window.location.pathname.split('/')[3],
            "RecommandCount": recommandNumber,
        }

        $.ajax({
            url: '/Board/RecommandUpdate',
            type: 'post',
            dataType: "json",
            data: JSON.stringify(param),
            contentType: "application/json",
            success: function (data) {
                alert("추천 되었습니다.");
            },
            error: function () {
            }
        });
    })

</script>