@{
    ViewBag.Title = "게시판";
}
@{
    // 한 페이지에 나타내고 싶은 게시글 수
    var boardCount = 5;
    // 총 페이징 버튼 갯수
    var totalPage = (ViewBag.Board.Count / boardCount) + 2;
}
<div>@ViewBag.Board.Count</div>
<h2>게시판</h2>
<div>
    <select class="form-select" id="board-count">
        <option value="2">2</option>
        <option value="10">10</option>
        <option value="15">15</option>
    </select>
    <select class="form-select">
        <option value="Name">작성자</option>
        <option value="Title">제목</option>
    </select>
    <input type="text" id="find" />
    <button id="find-board">검색</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">제목</th>
            <th class="text-center" scope="col">작성자</th>
            <th class="text-center" scope="col">댓글</th>
            <th class="text-center" scope="col">추천</th>
        </tr>
    </thead>
    <tbody id="tbody">
        @foreach (var item in @ViewBag.Board)
        {
            <tr class="text-center">
                <td class="text-center">@item.BoardNum</td>
                <td class="text-center"><a href="/Board/Detail/@item.BoardNum">@item.Title</a></td>
                <td class="text-center">@item.Name</td>
                <td class="text-center">@item.ReplyCount</td>
                <td class="text-center">@item.RecommandCount</td>
            </tr>
        }
    </tbody>

</table>
<div id="page">
    @for (var i = 1; i < totalPage; i++)
    {
        if (i == 1)
        {
            <button class="btn btn-info">@i</button>
        }
        else
        {
            <button class="btn btn-light">@i</button>

        }
    }
</div>

<button class="btn btn-primary" onclick="location.href='/Board/Write'">글쓰기</button>

<script>
    document.querySelector('#find-board').addEventListener('click', () => {
        const param = {
            "Variable": document.querySelector(".form-select").value,
            "Input": $('#find').val(),
        }
        console.log(param);
        $.ajax({
            url: '/Board/Index',
            type: 'post',
            dataType: "json",
            data: JSON.stringify(param),
            contentType: "application/json",
            success: function (data) {
                $('#tbody').empty();
                if (data !== "") {
                    data.forEach((item) => {
                        $('#tbody').append(createRow(item))

                    })
                }
            },
            error: function () {
            }
        });
        function createRow(item) {
            return `
                    <tr class="text-center">
                    <td class="text-center">${item.BoardNum}</td>
                    <td class="text-center"><a href="/Board/Detail/${item.BoardNum}">${item.Title}</a></td>
                    <td class="text-center">${item.Name}</td>
                    <td class="text-center">${item.ReplyCount}</td>
                    <td class="text-center">${item.RecommandCount}</td>
                </tr>`
        }
    })

    // 페이징 나타내기
    document.querySelector('#board-count').addEventListener('click', () => {
        $('#page').empty();
        let totalPageCount = @Html.Raw(ViewBag.Board.Count);
        for (let i = 1; i < (totalPageCount / document.querySelector('#board-count').value)+2; i++)
        {
            if (i === 1) {
                $('#page').append(` <button class="btn btn-info paging">${i}</button>`);
            }
            else {
                $('#page').append(` <button class="btn btn-light paging">${i}</button>`);
            }
        }
    })

    // 페이징 이동 시
</script>